<div class="row m-0 mt-4 d-flex justify-content-center">
    <div class="col-auto">
        <div class="card">
            <div class="card-body">
                <h3>{{exams || 0}}</h3>
                <h4>Total Exams</h4>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="card">
            <div class="card-body">
                <h3>{{users || 0}}</h3>
                <h4>Total Users</h4>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="card">
            <div class="card-body">
                <h3>{{questions || 0}}</h3>
                <h4>Total Questions</h4>
            </div>
        </div>
    </div>
</div>